selenium==4.25.0
webdriver-manager==4.0.2
streamlit==1.38.0
openai==1.43.0
html2text==2024.2.26
beautifulsoup4==4.12.3
lxml==5.3.0
numpy==1.26.4
pandas==2.2.2
pypdf==4.2.0
docx2txt==0.8

chromium
chromium-driver
fonts-liberation
